body{
    margin: 0;
    padding: 0;
    height: 725px;
    background: linear-gradient(to top right, rgb(109, 109, 194), rgb(30, 141, 137));
    background-repeat: no-repeat;
}

.fundo-log{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 400px;
    margin: 50px auto;
    margin-top: 150px;
    border-radius: 20px;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
}

